<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Sunday Tiger</title>

 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/stylish.css">

  </head>
  <body>          
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Sunday Tiger Woods</h1>
        <p class="lead">This is a visual analysis of water quality data in the state of Minnesota</p>
      </div>
    </div> 
    <h2>Water Contaminants Analyzed</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Contaminant</th>
          <th scope="col">MCL (Maximum Contaminant Level)</th>
          <th scope="col">Health Effects</th>
          <th scope="col">Source</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Arsenic</th>
          <td>10ug/L</td>
          <td>Skin damage or problems with circulatory systems, and may have increased risk of getting cancer</td>
          <td>Erosion of natural deposits; runoff from orchards, runoff from glass and electronicsproduction wastes</td>
        </tr>
        <tr>
          <th scope="row">Haloacetic acids (HAA5)</th>
          <td>60 ug/L</td>
          <td>Increased risk of cancer</td>
          <td>Byproduct of drinking water disinfection</td>
        </tr>
        <tr>
          <th scope="row">Nitrate</th>
          <td>10mg/L</td>
          <td>Infants below the age of six months who drink water containing nitrate in excess of the MCL could become seriously ill and, if untreated, may die. Symptoms include shortness of breath and blue-baby syndrome.</td>
          <td>Runoff from fertilizer use; leaking from septic tanks, sewage; erosion of natural deposits</td>
        </tr>
        <tr>
          <th scope="row">Tetrachloroethylene(PCE)</th>
          <td>5ug/L</td>
          <td>Liver problems; increased risk of cancer</td>
          <td>Discharge from factories and dry cleaners</td>
        </tr>
        <tr>
          <th scope="row">Trichloroethylene(TCE)</th>
          <td>5ug/L</td>
          <td>Liver problems; increased risk of cancer</td>
          <td>Discharge from metal degreasing sites and other factories</td>
        </tr>
        <tr>
          <th scope="row">Total Trihalomethanes (TTHMs)</th>
          <td>80ug/L</td>
          <td>Liver, kidney or central nervous system problems; increased risk of cancer</td>
          <td>Byproduct of drinking water disinfection</td>
        </tr>
        <tr>
          <th scope="row">Radium</th>
          <td>5 pCi/L</td>
          <td>Increased risk of cancer</td>
          <td>Erosion of natural deposits</td>
        </tr>
        <tr>
          <th scope="row">Uranium</th>
          <td>30 ug/L</td>
          <td>Increased risk of cancer, kidney toxicity</td>
          <td>Erosion of natural deposits</td>
        </tr>
      </tbody>
    </table>
    <p>Source: EPA.gov</p>
  
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
 
      
 
  </body>
</html>